@CHARSET "UTF-8";
body{
	font-family: Microsoft YaHei,Arial, sans-serif;	
}
.index_model1{
	width: 100%;
	height: 415px;
	margin-top: 30px;
}
.index_model1_title{
	width: 100%;
	height: 50px;
	line-height: 28px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.model_content{
	padding-top: 30px;
	min-height: 302px;
}
.model_content ul{
	height: 30px;
	line-height: 30px;
}
.model_content li{
	list-style: none;
	float: left;
	width: 120px;
	text-align: center;
	cursor: pointer;
}
.active_tab_top{
	border-width: 0px 0px 2px 0px;
	border-color:#A9C9E2;
	border-style:solid;
}
.itemcontent{
	width: 100%;
}
.itemcontent .item1{
	width: 220px;
	height: 250px;
	padding: 10px;
	float: left;
}
.itemcontent .item1 .item1_img{
	width: 220px;
	height: 195px;
	float: left;
}
.itemcontent .item1 .item1_img img{
	width: 100%;
	height: 100%;
}
.itemcontent .item1 .item1_content{
	width: 190px;
	height: 25px;
	float: left;
	font-size: 12px;
	line-height:25px;
	border-bottom: 1px solid #ccc;
	margin: 0 15px 0 15px;
}
.itemcontent .item2 .item1_content .item1_content_title{
	width: 150px;
	float: left;
}
.itemcontent .item2 .item1_content .item1_content_text{
	width: 10px;
	float: right;
}
 .itemcontent .item2 .item1_content1{
	width: 190px;
	height: 25px;
	float: left;
	font-size: 12px;
	line-height:25px;
	text-align:center;
	margin: 0 15px 0 15px;
}


.itemcontent .item2{
	width: 170px;
	height: 180px;
	padding: 0px;
	/*float: left;*/
}
.itemcontent .item2 .item1_img{
	width: 170px;
	height: 145px;
	/*float: left;*/
}
.itemcontent .item2 .item1_img img{
	width: 100%;
	height: 100%;
}
.itemcontent .item2 .item1_content{
	width: 170px;
	height: 25px;
	/*float: left;*/
	font-size: 12px;
	line-height:25px;
	border-bottom: 1px solid #ccc;
	margin: 0 15px 0 15px;
}
.itemcontent .item2 .item1_content1{
	width: 140px;
	height: 25px;
	float: left;
	font-size: 12px;
	line-height:25px;
	text-align:center;
	margin: 0 15px 0 15px;
}


.index_model2{
	width: 1000px;
	height: 395px;
	margin: 30px auto;
	color: white;
}
.index_model2_1{
	width: 500px;
	float: left;
}
.index_model2_2{
	background: #465c71 none repeat scroll 0 0;
    float: right;
    padding: 55px 43px 48px;
    width: 414px;
    height: 290px;
}
.index_model2_2 li{
	overflow: hidden;
	height: 100%;
}