@charset "utf-8";
.center{
	margin: 0 auto;
}
.w100{
	width: 100%;
}
.w_main{
	width: 1000px;
}
.active{
	display: block!important;
}
.none{
	display: none!important;
}
ui,li{
	list-style: none;
}
body{
	padding: 0;
	margin: 0;
	color: #666;
	overflow-x: hidden;
}
ul,li{
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
	color: #666;
}
#head{
	height: 90px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: white;
	border-bottom: 1px solid #ccc;
}
#top_top{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #eee;
}
#top_wel{
	height: 100%;
	margin: 0 auto;
	line-height: 30px;
	text-align: right;
}
#top{
	height: 52px;
	margin: 0 auto;
	padding-top: 6px;
}
#top_log{
	width: 80px;
	height: 100%;
	float: left;
}
#top_menu{
	width: 920px;
	height: 100%;
	float: left;
}
#top_menu ul{
	width: 100%;
	height: 100%;
}
#top_menu ul li{
	margin-left:2px;
	list-style: none;
	float: left;
	width: 125px;
	line-height: 50px;
	text-align: center;
	cursor:pointer;
}
#top_menu ul li a{
	color: #666;
	display: block;
	width: 100%;
	height: 100%;
}
.top_menu_moveon_action{
	border-top: 2px solid #0092d7;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #eee;
}
.top_menu_moveon{
	border-top: 2px solid #0092d7;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #eee;
}
#top_menu ul li a{
	text-decoration:none;
}
.menu_son{
	display: none;
	position: relative;
	width: 320px;
	left: 0px;
	top: 0px;
	border-width: 0px 1px 1px 0px;
	border-color: #ccc;
	border-style: solid;
	z-index: 1;
	background-color: #eee;
	overflow: hidden;
	padding: 10px;
}
.menu_son_title{
	float:left;
	width: 150px;
	height: 100%;
	line-height: 30px;
	text-align: left;
}
.menu_son_title a{
	padding-left: 10px;
	font-size: 12px;
}
.menu_son_title a:HOVER{
	color: #f59b21!important;
}
.menu_son_content{
	line-height:0;
	float:left;
	width: 150px;
	height: 100%;
}
.menu_son_content img{
	width: 100%;
}



#main{
	padding-top: 90px;
}
/**footer版权信息*/
.footer{
	margin-top:50px;
	width: 100%;
	background-color: #2b2e34;
	overflow: hidden;
	font-size: 12px;
	font-weight: bold;
}
.footer_top{
	padding: 30px 0 30px 0;
	overflow: hidden;
}
.footer_bottom{
	border-top: 1px solid #666;
	height: 50px;
	padding-top: 10px;
	line-height: 50px;
	text-align: center;
}
.foot_menu{
	float: left;
	margin-right: 50px;
	font-size: 12px;
	line-height: 35px;
	width: 80px;
}
.foot_menu a{
	color: #ccc;
	display: block;
	width: 100%;
}
.foot_menu>a{
	font-size: 14px;
	line-height: 40px;
}
.foot_menu_son{
	width: 100%;
	border-top: 1px solid #ccc;
}
#footer_lianxi{
	width: 300px;
	padding-left: 25px;
	background-image: url("../images/pp.png");
	background-repeat: no-repeat;
	background-position:0 15px;
	color: #cfcfcf;
	line-height: 24px;
}


/**列表界面*/
.list_img{
	width:1920px;height:385px;margin:0 auto;overflow: hidden;text-align: center;margin-left: -460px
}
.list_img img{
	width:1920px;height:385px;margin: 0 auto;
}
.list_main{
	margin:42px auto;
	width: 100%;
}
.list_left{
	float: left;
	margin-right: 12px;
	width: 204px;
}
.list_right{
	float: right;
	padding:0 0 0 0;
	width: 760px;
}
.list_name{
	width: 100%;
	height: 118px;
	font-size: 20px;
	line-height: 118px;
	text-align:center;
	color:white;
	background-image: url("../images/left.jpg");
}
.list_top{
	margin-bottom: 22px;
	height: 34px;
	line-height: 34px;
	padding-bottom:5px;
	border-bottom: 1px solid #cfcfcf;
}
.list_title{
	font-size:20px;
	margin-left: 12px;
	padding-left: 34px;
	background-image: url("../images/mo.jpg");
	background-position:left center ;
	background-repeat:no-repeat;
	width: 30%;
	float: left;
}
.list_position{
	width: 60%;
	float: right;
	text-align: right;
	font-size: 12px;
}
.list_item{
	border-top:1px solid #cfcfcf; 
	border-left:1px solid #cfcfcf; 
	border-right:1px solid #cfcfcf; 
}
.list_item li{
	width:181px;
	height: 57px;
	padding-left: 21px;
	background-color: #eee;
	border-bottom: 1px solid #cfcfcf;
}
.list_item li a{
	height: 57px;
	line-height: 57px;
	width: 100%;
	display: block;
}
.list_action,.list_move{
	background-image: url("../images/dt.jpg");
}
.article_list_item{
	border:1px solid #eee;
	width: 725px;
	padding: 10px;
	margin-bottom: 20px;
}
.list_content,.list_content .listbox,.article_list_item{
	overflow: hidden;	
}
.article_list_item .item_image{
	width: 150px;
	float: left;
}
.article_list_item .item_image img{
	width: 100%;
}
.article_list_item .item_image{
	width: 150px;
	float: left;
}
.article_list_item .item_text{
	width: 450px;
	float: right;
}
.article_list_item .item_title{
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	text-align: left;
}
.article_list_item .item_title a{
	color: #50a5c9;
}
.article_list_item .item_content{
	font-size: 14px;
	padding-top: 10px;
}
