@charset "utf-8";
.center{
	margin: 0 auto;
}
.w100{
	width: 100%;
}
.w_main{
	width: 1000px;
}
.active{
	display: block;
}
.none{
	display: none;
}
ui,li{
	list-style: none;
}
body{
	padding: 0;
	margin: 0;
	color: #666;
	overflow-x: hidden;
}
ul,li{
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
	color: #666;
}
#head{
	height: 90px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-color: white;
}
#top_top{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #eee;
}
#top_wel{
	height: 100%;
	margin: 0 auto;
	line-height: 30px;
	text-align: right;
}
#top{
	height: 52px;
	margin: 0 auto;
	padding-top: 6px;
}
#top_log{
	width: 80px;
	height: 100%;
	float: left;
}
#top_menu{
	width: 920px;
	height: 100%;
	float: left;
}
#top_menu ul{
	width: 100%;
	height: 100%;
}
#top_menu ul li{
	margin-left:2px;
	list-style: none;
	float: left;
	width: 125px;
	line-height: 50px;
	text-align: center;
	cursor:pointer;
}
#top_menu ul li a{
	color: #666;
}
.top_menu_moveon_action{
	border-top: 2px solid #0092d7;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #eee;
}
.top_menu_moveon{
	border-top: 2px solid #0092d7;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #eee;
}
#top_menu ul li a{
	text-decoration:none;
}
#main{
	padding-top: 90px;
	
}

/**列表界面*/
.list_img{
	width:1920px;height:385px;margin:0 auto;overflow: hidden;text-align: center;margin-left: -460px
}
.list_img img{
	width:1920px;height:385px;margin: 0 auto;
}
.list_main{
	margin:42px auto;
	width: 100%;
}
.list_left{
	float: left;
	margin-right: 12px;
	width: 204px;
}
.list_right{
	float: right;
	padding:0 0 0 0;
	width: 760px;
}
.list_name{
	width: 100%;
	height: 118px;
	font-size: 20px;
	line-height: 118px;
	text-align:center;
	color:white;
	background-image: url("../images/left.jpg");
}
.list_top{
	margin-bottom: 22px;
	height: 34px;
	line-height: 34px;
	padding-bottom:5px;
	border-bottom: 1px solid #cfcfcf;
}
.list_title{
	font-size:20px;
	margin-left: 12px;
	padding-left: 34px;
	background-image: url("../images/mo.jpg");
	background-position:left center ;
	background-repeat:no-repeat;
	width: 30%;
	float: left;
}
.list_position{
	width: 60%;
	float: right;
	text-align: right;
	font-size: 12px;
}
.list_item{
	border:1px solid #cfcfcf; 
}
.list_item li{
	width:181px;
	height: 57px;
	padding-left: 21px;
	background-color: #eee;
	border-bottom: 1px solid #cfcfcf;
}
.list_item li a{
	height: 57px;
	line-height: 57px;
	width: 100%;
	display: block;
}
.list_action,.list_move{
	background-image: url("../images/dt.jpg");
}
