/*-----------Ãâ·Ñ°²×°-----------*/
.tab_anzh{background: url(../images_big/download_bg.gif);color:#FFFFFF; font-size:14px; font-weight:bold; width:600px; height:544px;}
.tab_az{ width:90%;color:#FFFFFF; font-size:14px; font-weight:bold;padding:20px; margin:0px auto;}
.tab_az th{ height:25px; line-height:25px; color: #000000; text-align:left;padding-left:10px;}
.tab_az td { height:25px; line-height:25px;text-align:left; padding-left:6px;color: #000000;}